@media (min-width: 2560px) {
    html {
        font-size: 80%;
    }

    .home_img img {
        width: 19vw;
    }

    .container_work {
        width: 50vw;
    }

    .about_content {
        font-size: 2.2rem;
        max-width: 80vw;
        margin: 0 auto;
        line-height: 1.8;
    }

    .about_content h1 {
        font-size: 4rem;
    }

    .about_content p {
        font-size: 2.2rem;
    }

    .timeline,
    .skills {
        font-size: 1.8rem;
    }

    #video-section-1 iframe {
        margin-left: 20rem;
        max-width: 300vw;
    }

    #video_play {
        width: 80vw;
        max-width: 1500px;
        display: block;
        margin: 0 auto;
    }
}


@media (max-width: 1920px) {
    html {
        font-size: 50%;
    }

}

@media (max-width: 1560px) {
    html {
        font-size: 50%;
    }
}

@media (max-width: 1440px) {
    html {
        font-size: 50%;
    }

    .home_content h3 {
        font-size: 2.5rem;
    }

    .home_img img {
        width: 20vw;
    }

    .home_content h1 {
        font-size: 6rem;
    }

    .about_content p {
        font-size: 3rem;

    }

    .overlay_title {
        font-size: 1.5rem;/
    }

    .overlay_subtext {
        font-size: 1rem;
    }



    .bubbles span {
        width: 20px;
        height: 20px;
        border-radius: 50%;
        margin: 0 2px;
    }
}

@media (max-width: 1280px) {
    html {
        font-size: 40%;
    }
}

@media (max-width: 1024px) {
    html {
        font-size: 40%;
    }

    .home_img img {
        width: 20vw;
    }


    .col {
        width: 100%;
    }

    .home_content h3 {
        font-size: 2rem;
    }

    .timeline {
        font-size: 2rem;
    }

    .overlay_title {
        font-size: 1.5rem;/
    }

    .overlay_subtext {
        font-size: 1rem;
    }

    .bubbles span {
        width: 15px;
        height: 15px;
        border-radius: 50%;
        margin: 0 2px;
    }
}

@media (max-width: 768px) {
    html {
        font-size: 50%;
    }

    .navbar a {
        margin-left: 1rem;
        border-bottom: 2px solid transparent;
    }

    #language-toggle {
        font-size: 1.8rem;
        margin-left: 1rem;
    }


    .home_content h1 {
        font-size: 3rem;
    }

    .container_work {
        width: 110%;
    }

    .home_img img {
        width: 25vw;
    }

    .about_content h1 {
        font-size: 6rem;
    }

    .about_content p {
        font-size: 2rem;

    }

    .overlay_title {
        font-size: 1.5rem;/
    }

    .overlay_subtext {
        font-size: 1rem;
    }

    #h1_project1 {
        font-size: 3rem;
        margin-right: 1rem;
    }

    #video-section-1 iframe {
        margin-left: 10rem;
        max-width: 100%;
        margin-top: 20rem;
    }

    a.back-link {
        margin-left: 60rem;
    }


    .Project_Body {
        transform-origin: top left;
        width: 80%;
        overflow-x: hidden;
    }

    .content_click {
        width: 110%;
        margin-top: 20rem;
    }

    section.project-section h2 {
        font-size: 3rem;
        margin-top: 4rem;
        margin-bottom: 1rem;
    }

   
    
    #overlay-close {
        position: absolute;
        top: 20px;
        right: 25px;
        font-size: 40px;
      }

    #image-overlay img {
        max-width: 70%;
        max-height: 70%;
        border: 5px solid white;
        border-radius: 8px;
      }

      #h1_project2 {
        margin-left: 18rem !important;
    }

    section.project-section h2 {
        font-size: 5rem !important;
      }

      #video_play {
        width: 90%;
      }

      section.project-section h1{
        margin-left: 10rem !important;
    }
    
    .overlay_subtext_section {
        
        bottom: 150px !important;}
    
    .bubbles span {
        width: 12px;
        height: 12px;
        border-radius: 50%;
        margin: 0 1px;
    }
}

@media (max-width: 425px) {
    html {
        font-size: 40%;
    }

    .header {
        padding: 1rem 5%;
        flex-direction: row;
        justify-content: space-between;
    }

    .header .child-element {
        flex: 1;
        margin: 0 0.5rem;
    }

    .home_content {
        flex-direction: column;
        align-items: flex-start;
        margin-left: -20rem;
        margin-top: -10rem;
    }

    .home_img img {
        width: 27vw;
        margin-left: -15rem;
        margin-top: -20rem;
    }

    .navbar a {
        margin-left: 1rem;
        border-bottom: 2px solid transparent;
    }

    .home {
        margin-left: 16rem;
    }

    .home_content h1 {
        font-size: 1.5rem;
        margin-right: 0;
    }

    .home_content h3 {
        font-size: 2rem;
    }


    .work h1 {
        font-size: 10rem;
    }

    .col {
        width: 100%;
    }

    .about_me h1 {
        font-size: 10rem;
    }

    .overlay_title {
        font-size: 1.5rem;/
    }

    .overlay_subtext {
        font-size: 1rem;
    }

    .bubbles span {
        width: 10px;
        height: 10px;
        border-radius: 50%;
        margin: 0 0.2px;
    }
}