section.project-section {
    padding: 12rem 12% 6rem;
    min-height: 100vh;
    color: var(--text-color);
}

section.project-section h1 {
    font-size: 10rem;
    margin-left: 20rem;
    margin-bottom: 2rem;
    color: var(--main-color);
}

section.project-section h2 {
    font-size: 9rem;
    margin-top: 9rem;
    margin-bottom: 1rem;
}

section.project-section p {
    font-size: 3rem;
    line-height: 1.6;
}

section.project-section ul {
    font-size: 2rem;
    padding-left: 2rem;
    list-style: disc;
}

section.project-section img,
section.project-section video {
    margin: 2rem 1rem;
    border-radius: 1rem;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.2);
    max-width: 100%;
    height: auto;
    transition: transform 0.3s ease;
}

section.project-section img:hover,
section.project-section video:hover {
    transform: scale(1.03);
}

.video-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    z-index: -2;
}

.video-background video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    transform: translate(-50%, -50%);
    object-fit: cover;
    filter: blur(8px);
    opacity: 0.6;
}

.video-blur-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(10px);
}

#video_play {
    margin-left: 8rem;

}

.back-link {
    display: inline-block;
    font-size: 4rem;
    margin-left: 140rem;
    color: var(--main-color);
    margin-bottom: 2rem;
    transition: text-shadow 0.3s ease, color 0.3s ease;
  }
  
  .back-link:hover {
    color: var(--second-color);
    text-shadow: 0 0 10px var(--second-color);
    cursor: pointer;
  }

  #image-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.85);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
  }
  
  #image-overlay img {
    max-width: 90%;
    max-height: 90%;
    border: 5px solid white;
    border-radius: 8px;
  }
  
  #image-overlay.hidden {
    display: none;
  }
  
  #overlay-close {
    position: absolute;
    top: 30px;
    right: 50px;
    font-size: 40px;
    color: white;
    cursor: pointer;
    user-select: none;
  }
  
  .content_click {
    display: grid;
    grid-template-columns: repeat(5, 1fr); 
    gap: 2rem;
    justify-items: center;
    margin: 4rem 0;
}

.section_role{
    color: var(--main-color);
}

#h1_project2 {
    
    margin-left: 34rem;
   
  }